<% if @restaurants.any? %>
<% @restaurants.each do |restaurant| %>
  <h3><%=link_to restaurant.name, restaurant_path(restaurant)%></h3>
  <h3><%=link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)%></h3>
  <h3><%=link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %></h3>
  <h3><%=link_to "Review #{restaurant.name}",  new_restaurant_review_path(restaurant) %></h3>
  <% restaurant.reviews.each do |review| %>
    <h4><%= link_to review.thoughts %> </h4>
    <h4><%= link_to review.rating %> </h4>
    <% end %>
<% end %>
<% else %>
  <h2>No restaurants yet</h2>
<% end %>



<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<a href='/restaurants/new'>Add a restaurant</a>
